* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

body {
  background-color: #5A8F69;
}

.container {
  width: 365px;
  background-color: #F0F3CF;
  margin: 0 auto;
  margin-top: 54px;
}

header {
  background-color: #F0F3CF;
  height: 66px;
}

h1 {
  font-weight: normal;
  font-size: 24px;
  color: #4C8D96;
  text-align: center;
  padding-top: 22px;
}

main {
  padding: 24px;
}

label {
  font-weight: 400;
  font-size: 14px;
  color: #4C8D96;
}

select {
  background: #FFFFFF;
  border: 1px solid #2E5958;
  border-radius: 4px;
  height: 48px;
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 6px;
  margin-bottom: 24px;
}

input {
  background: #FFFFFF;
  border: 1px solid #2E5958;
  border-radius: 4px;
  height: 48px;
  display: block;
  width: 100%;
  outline: none;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

button {
  background: #01855E;
  color: #f4f4f4;
  height: 48px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  margin-top: 24px;
  margin-bottom: 36px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}

section {
  border: 1px solid #747779;
  border-radius: 4px;
}

.currency-container {
  text-align: center;
  padding: 10px;
}

.currency-name {
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  color: #847A5F;
}

.currency-value {
  color: #00A789;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
}

.vector {
  margin: 45px auto;
  display: block;
}